<a href="https://colab.research.google.com/github/nivanjanapramod/LEARN.PY/blob/main/TASK_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 11000 and 2000 (both included).

In [2]:
#please enter your answer below this line
l=[]
for i in range(11000,20000):
  if(i%7==0 and i%11==0):
    l.append(i)
print(l)

[11011, 11088, 11165, 11242, 11319, 11396, 11473, 11550, 11627, 11704, 11781, 11858, 11935, 12012, 12089, 12166, 12243, 12320, 12397, 12474, 12551, 12628, 12705, 12782, 12859, 12936, 13013, 13090, 13167, 13244, 13321, 13398, 13475, 13552, 13629, 13706, 13783, 13860, 13937, 14014, 14091, 14168, 14245, 14322, 14399, 14476, 14553, 14630, 14707, 14784, 14861, 14938, 15015, 15092, 15169, 15246, 15323, 15400, 15477, 15554, 15631, 15708, 15785, 15862, 15939, 16016, 16093, 16170, 16247, 16324, 16401, 16478, 16555, 16632, 16709, 16786, 16863, 16940, 17017, 17094, 17171, 17248, 17325, 17402, 17479, 17556, 17633, 17710, 17787, 17864, 17941, 18018, 18095, 18172, 18249, 18326, 18403, 18480, 18557, 18634, 18711, 18788, 18865, 18942, 19019, 19096, 19173, 19250, 19327, 19404, 19481, 19558, 19635, 19712, 19789, 19866, 19943]

2. Write a program to print this pattern

           #
          ## 
         ###

In [14]:
#please enter your answer below this line
a = 5
for i in range(0, 3):
  for j in range(0, a):
    print(end=" ")
  a = a - 2
  for j in range(0, i+1):
    print("# ", end="")
  print()

     #
   # #
 # # #

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [4]:
#please enter your answer below this line
l=['apple', 'orange', 'apple', 'banana']
for i in l:
  if(i=='apple'):
    l[l.index(i)]='grapes'
print(l)

['grapes', 'orange', 'grapes', 'banana']